<%= content_tag :tr, id: "todo-#{todo.id}" do %>
  <% if policy(todo).show? && current_user.id == todo.user_id %>
      <td><%= link_to todo.description, todo %></td>
      <% daysLeft = 7 - ((Time.now - todo.created_at).to_i / 1.day) %>
      <td><%= "#{daysLeft}" %></td>
     <td><%= link_to '', todo, id: 'todo-delete', method: :delete, class: 'glyphicon glyphicon-ok-circle', remote: true %></td>
    <td><%= link_to '', todo, id: 'todo-delete', method: :delete, class: 'glyphicon glyphicon-remove-circle', remote: true %></td>
  <% end %>
</tr>
<% end %>

